<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Boogle</title>    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Basketball social media.">
    <meta name="author" content="neoxuisme@gmail.com">   
    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      media="screen"
	  .wrap #mubox {
		position: absolute;
		left: -95px;
		width: 190px;
		height: 100%;
		display: block;
		background: #FFFFFF;
	  }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="assets/ico/favicon.png">
  </head>

  <body>      
    <div id="fb-root" class=" fb_reset">
    	<script async="" src="http://connect.facebook.net/zh_TW/all.js#xfbml=1&appId=635551273144517"></script>	
  		<!--<div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
  			<div>
  			    <iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" src="http://static.ak.facebook.com/connect/xd_arbiter.php?version=27#channel=f33bdf1828&amp;channel_path=%2Ffbconnect%2Fxd.html%3Ffb_xd_fragment%23xd_sig%3Df1a20c0d4c%26&amp;origin=http%3A%2F%2F127.0.0.1:53249" style="border: none;"></iframe>
  				<iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" src="https://s-static.ak.facebook.com/connect/xd_arbiter.php?version=27#channel=f33bdf1828&amp;channel_path=%2Ffbconnect%2Fxd.html%3Ffb_xd_fragment%23xd_sig%3Df1a20c0d4c%26&amp;origin=http%3A%2F%2F127.0.0.1:53249" style="border: none;"></iframe>
  			</div>
  		</div>
  		<div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
  			<div>
  			</div>
  		</div>-->
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">            
            <ul class="nav">
              <li><a href="/">籃球幫</a></li>
              <li><a href="/createclub">成立聯盟</a></li>
              <li><a href="/court">球場</a></li>
              <li><a href="/freeagent">自由球員</a></li>
            </ul>   
            <ul class="nav pull-right">   
                <% if(!req.session.user){ %>
					<a type="button" class="btn" href="#bclogin" data-toggle="modal">Log in using Facebook</a>
				<% } %>  
              	<% if(req.session.user){ %>
              		<div href="#userinfo" data-toggle="modal">
              		<a class="navbar-link" > <%=:req.session.user.name%> </a>  
              	  	<img id="fbimg" class="img-rounded" src="https://graph.facebook.com/<%=req.session.user.uid%>/picture?width=40&height=40" title=<%=:req.session.user.name%>/>
              		</div>
              	<% } %>    
			</ul>  
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="bclogin">
  		<div class="modal-header">
    		<a class="close" data-dismiss="modal">&times;</a>
    		<h3>登入籃球幫</h3>
  		</div>
  		<div class="modal-body">
  			<!--<div id="fblogin" class="fb-login-button" data-width="200"></div>-->
    		<button id="fblogin" class="btn btn-facebook btn-large">Facebook 登入</button>    		
  		</div>
  		<div class="modal-footer">
  			<!--
  			<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fcitytasker&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80&amp;appId=635551273144517" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowtransparency="true"></iframe>
  			-->  	
    	</div>
	</div>	
	
	
	<div class="modal fade" id="userinfo">
  		<div class="modal-header">
    		<a class="close" data-dismiss="modal">&times;</a>
    		<% if(req.session && req.session.user){ %>
    			<h3> <%=:req.session.user.name%> </h3>
    		<% } %>  
  		</div>
  		<div class="modal-body">
  		    <div>
  		    	<% if(req.session && req.session.user){ %>
  		    		<img id="fbpicture" class="img-rounded" src="https://graph.facebook.com/<%=req.session.user.uid%>/picture?width=200&height=200" title="picture"/>
  		    	<% } %>  
  		    </div>  	
  		    <p></p>
    		<button id="fblogout" class="btn btn-facebook btn-large">登出</button>    		
  		</div>
  		<div class="modal-footer">  				
    	</div>
	</div>	
	
	
	<div class="container-fluid">
	    <%- body %>
	    <hr>
		<%- partial('footer') %>
	</div><!--/.fluid-container-->

    <!-- Le javascript    
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>    
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>   
    <script src="assets/js/facebook.js"></script>  
  </body>
</html>
